{% extends "parent.html.twig" %}

{% block contenu %}

<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date de parution</th>
            <th>Nb de pages</th>
            <th>Nb articles</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for book in books %}

        <tr>
            <td>{{book.title}}</td>
            <td>{{book.publishedDate|date('d/m/Y')}}</td>
            <td>{{book.nbOfPages}}</td>
            <td>{{book.articles|length}}</td>
            <td><a href="{{ path("bookDetails", {'id': book.id}) }}">Voir</a> - 
                <a href="{{ path("bookEdit", {'id' : book.id}) }}">Modifier</a></td>
        </tr>
            
        {% endfor %}


    </tbody>
</table>

{% endblock %}