<div class="miniArticle">
    <h2><a href="{{path('articleDetails', {'id': article.id})}}">{{article.title}}</a> {% if article.category is not null %}( {{ article.category.name}} ){% endif %} </h2>
    <p class="articleBody">{{article.body}}</p>
    <p class="articleDate"><a href="{{ path("articleEdit", {"id": article.id}) }}">modifier</a> - {{article.date|date("d/m/Y")}}</p>
</div>